body {
    background-image: url(lowpoly-grey-gradient-vector.webp);
  }
  
  #wrapper {
    margin: 24px auto;
    width: 1200px;
    padding: 0px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    }
  /* style for dummy columns, delete and replace with your own CSS */
  .dummycolumn {
    background-color: rgba(255,0,0,.25);
    grid-column: span 1;
  }
  
  @font-face {
    font-family: 'Major Mono Display';
    src: url(MajorMonoDisplay-Regular.ttf);
  }
  
  header {
    grid-column: span 12;
    background-image: url(Header.png);
    background-repeat: no-repeat;
    height: 247px;
  }
  
  h1 {
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
    font-size: 96px;
    padding-top: 50px;
    text-decoration: none;
  font-family: 'Major Mono Display';
  }
  
  h1 a:link{
    color: black;
    text-decoration: none;
  }
  
  h1 a:visited {
    color: black;
  }
  
  h1:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 975px; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid black;
  }
  
  #mainimg {
    grid-column: span 5;
    width: 100%;
    padding-top: 75px;
margin-left: 100px;
  }
  
  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
padding-right: 24px;
    margin-top: 100px;
    grid-column: span 5;
    padding-left: 24px;
    text-align: center;
  }
  
  main {
    grid-column: span 12;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  main img {
  height: 100%;
  display: block;
  }
  
  #myCarousel {
    height: 95%;
  grid-column-end: 7;
    grid-column-start: 2;
    margin-top: 48px;
  }
  
  #myCarousel .f-carousel__slide {
    text-align: center;
    padding: 24px;
    background: #eee;
  }

  #myCarousel img {
    width: 100%;
} 

footer a i {
  float: right;
  padding-right: 10px;
  color: white;
  margin-bottom: 20px;
  padding-bottom: 50px;
  font-size: 50px;
  position: relative; bottom: 0px;
}

footer {
grid-column: span 12;
background-image: url(Footer.png);
height: 247px;
margin: 0;
padding: 0;
width: 1200px;
}

footer a {
padding-left: 10px;
font-size: 50px;
font-family: 'Major Mono Display';
color: white;
margin-top: 300px;
position: relative; top: 190px;
}

footer a:link{

color: white;
text-decoration: none;
}

footer a:visited {
color: white;
}