h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    border: 1px solid white;
    padding: 25px;
    background-color: white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 5px black;
    padding-bottom: 15px;
}

footer {
    color: white;
    display: block;
    background-color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    border: 5px solid;
    border-color: white;
    padding: 35px;
    margin-top: 20px;
    text-align: center;
}

main p {
    text-align: justify;
}

p a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

p a:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

body {
    background-image: url(a5bg.png);
}

main {
    border: 1px solid white;
    padding: 25px;
    background-color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 24;
}

nav li {
 border: 1px solid black;
 width: 200px;   
 background-color: darkblue;
 padding: 0px;
 margin-right: 24px;
 display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
}

nav li a:hover {
    background-color: lightblue;
}