body {
    background-image: url(lowpoly-grey-gradient-vector.webp);
  }
  
  #wrapper {
    margin: 24px auto;
    width: 1200px;
    padding: 0px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    }
  /* style for dummy columns, delete and replace with your own CSS */
  .dummycolumn {
    background-color: rgba(255,0,0,.25);
    grid-column: span 1;
  }
  
  @font-face {
    font-family: 'Major Mono Display';
    src: url(MajorMonoDisplay-Regular.ttf);
  }
  
  header {
    grid-column: span 12;
    background-image: url(Header.png);
    background-repeat: no-repeat;
    height: 247px;
    width: 1200px;
  }
  
  h1 {
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
    font-size: 96px;
    padding-top: 50px;
    text-decoration: none;
  font-family: 'Major Mono Display';


  }
  
  h1 a:link{
    color: black;
    text-decoration: none;
  }
  
  h1 a:visited {
    color: black;
  }
  
  h1:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 975px; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid black;
  }
  
  nav {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
      font-size: 56px;
      padding-top: 75px;
      font-family: 'Times New Roman', Times, serif;
      text-decoration: none;
    }

    nav i {
        grid-column: span 2;
        display: block;
     font-size: 100px;
    }
    
    nav li {
      background-color: #747474;
      color: white;
      text-decoration: none;
    }
    
    nav li a {
      color: black;
      display: block;
      text-decoration: none;
      padding: 25px;
      height: 75px;
      text-align: center;
      margin-bottom: 15px;
      grid-column: span 1;
    }
    
    nav a {
      display: block;
margin-left: 130px;
      width: 436px;
      color: black;
      text-decoration: none;
      grid-column: span 1;
      margin-top: 20px;
    }
    
    nav a:hover {
      color: black;
      text-decoration: none;
    }

    nav i {
        text-decoration: none;
        grid-column: span 1;
        margin-left: 350px;
        padding-bottom: 50px;
    }
  
    nav form {
        margin-left: 130px;
    }
   
  footer {
   display: block;
  grid-column: span 12;
  background-image: url(Footer.png);
  height: 247px;
  margin: 0;
  padding: 0;
  width: 1200px;
  }
  
  footer a {
    display: block;
    padding-left: 10px;
  
    font-size: 50px;
    font-family: 'Major Mono Display';
    color: white;
  }
  
  footer a:link{
    padding-top: 175px;
    color: white;
    text-decoration: none;
  }
  
  footer a:visited {
    color: white;
  }
  
  footer i {
    float: right;
    padding-right: 10px;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 50px;
    font-size: 50px;
    position: relative; bottom: 45px;
  }