body {
    background-image: url(lowpoly-grey-gradient-vector.webp);
  }
  
  #wrapper {
    margin: 24px auto;
    width: 1200px;
    padding: 0px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    }

  
  @font-face {
    font-family: 'Major Mono Display';
    src: url(MajorMonoDisplay-Regular.ttf);
  }
  
  header {
    grid-column: span 12;
    background-image: url(Header.png);
    background-repeat: no-repeat;
    height: 247px;
  }
  
  h1 {
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
    font-size: 96px;
    padding-top: 50px;
    text-decoration: none;
  font-family: 'Major Mono Display';
  }
  
  h1 a:link{
    color: black;
    text-decoration: none;
  }
  
  h1 a:visited {
    color: black;
  }
  
  h1:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 975px; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid black;
  }

  h2 {
    font-family: 'Major Mono Display';
    text-align: center;
    font-size: 60px;
    display: block;
    grid-column: span 12;
    margin-top: 12px;
    margin-bottom: 4px;
  }
  
.Husk {
    display: block;

    grid-column: span 1;
    width: 510px;
    height: 660px;  
    margin: 0;
    padding: 0;
}

.Men {
    display: block;
    grid-column: span 1;
    width: 510px;
    height: 660px;  
    margin: 0;
    padding-left: 90px;
}
  
.Gojo {
    display: block;

    grid-column: span 1;
    width: 600px;
    height: 600px;  
    margin: 0;
    padding: 0;
}

main p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
padding-right: 24px;
    margin-top: 100px;
    grid-column: span 1;
    padding-left: 24px;
display: block;
text-align: center;
  }  

  main {
    grid-column: span 12;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  
  
  iframe {
    grid-column: span 12;
    grid-column-start: 3;
    grid-column-end: 11;
    align-content: center;
    margin-top: 10px;
    padding-top: 24px;
    border: none;
  }
  
  footer {
   display: block;
  grid-column: span 12;
  background-image: url(Footer.png);
  height: 247px;
  margin: 0;
  padding: 0;
  }
  
  footer a {
    display: block;
    padding-left: 10px;
  
    font-size: 50px;
    font-family: 'Major Mono Display';
    color: white;
  }
  
  footer a:link{
    padding-top: 175px;
    color: white;
    text-decoration: none;
  }
  
  footer a:visited {
    color: white;
  }
  
  footer i {
    float: right;
    padding-right: 10px;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 50px;
    font-size: 50px;
    position: relative; bottom: 45px;
  }