body {
  background-color: #999999;
}

#wrapper {
  margin: 1em auto;
  width: 960px;
  border: 3px solid black;
  background-color: #ffffff;
  padding: 1em;
}

#myCarousel {
  margin-bottom: 24px;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}


