/* MOBILE-FIRST BASELINE STYLES */
body {
  background-image: url(lowpoly-grey-gradient-vector.webp);
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

#wrapper {
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #9f9f9f; /* Fallback color */
  font-family: 'Major Mono Display';
  color: white;
}

header {
  background-image: url(Header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  grid-column: span 1;
}

h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  font-family: 'Major Mono Display';
}

h1 a:link,
h1 a:visited {
  color: black;
  text-decoration: none;
}

h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 70%;
  padding-top: 1rem;
  border-bottom: 3px solid black;
}

nav {
  grid-column: span 1;
  font-size: 1.5rem;
  margin-top: 0rem; /* moved up closer to header */
  bottom: 30px;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li a {
  background-color: darkred;
  color: white;
  display: block;
  text-decoration: none;
  padding: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  transition: background-color 0.5s, color 0.5s;
}

nav li a:hover {
  background-color: red;
  color: black;
  box-shadow: 4px 4px 10px #999;
}

main img {
  width: 80%;
  top: 50px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

iframe {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border: none;
}

footer {
  background-image: url(Footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 2rem 1rem;
  font-family: 'Major Mono Display';
}

footer a {
  font-size: 2rem;
  color: white;
  margin: 0 0.5rem;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
}

footer a:link,
footer a:visited {
  color: white;
}

footer a:hover {
  color: red;
}

footer a i {
  font-size: 2.5rem;
  color: white;
  padding: 0.5rem;
  transition: color 0.3s;
}

/* RESPONSIVE LAYOUTS */

/* At 480px and up */
@media all and (min-width: 30rem) {
  h1 {
    font-size: 3rem;
  }

  nav {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* At 800px and up */
@media all and (min-width: 50rem) {
  #wrapper {
    max-width: 1200px;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
  }

  header {
    grid-column: span 12;
    height: 247px;
  }

  h1 {
    grid-column: 2 / span 10;
    font-size: 4rem;
    padding-top: 2rem;
  }

  nav {
    grid-column: 2 / span 4;
    grid-template-columns: 1fr;
    margin-top: 1rem; /* aligned with image */
  }

  #mainimg {
    grid-column: 6 / span 6;
    align-self: start;
    margin-top: 1rem;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  main {
    grid-column: span 12;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  footer {
    grid-column: span 12;
    background-image: url(Footer.png);
    background-color: #9f9f9f;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 2rem 1rem;
    font-family: 'Major Mono Display';
  }

  footer a {
    font-size: 2rem;
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
  }

  footer a:hover {
    color: red;
  }

  footer a i {
    font-size: 2.5rem;
    color: white;
    padding: 0.5rem;
    transition: color 0.3s;
  }
}

